* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.scores {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}


.header {
    margin: 20px 5%;
    font-size: 125%;
    padding: 10px;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
}

#timer {
    color: black;
}

#container {
    margin: 50px 10% 20px;
    display: flex;
    flex-direction: column;
}

#container > * {
    margin: 20px 5%;
    align-self: center;
}

#title {
    font-size: 175%;
}

#content {
    font-size: 110%;
    text-align: justify;
}

button {
    background-color: purple;
    color: white;
    border: solid black 3px;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 125%;
    font-weight: bolder;
}

#button1, #button2, #button3, #button4, #restart, #clearScores {
    align-self: start;

}

#form {
    font-size: 150%;
}

#submit {
    font-size: 100%;
    margin: 20px;
}

footer {
    text-align: center;
    font-size: 150%;
}

button:hover {
    box-shadow: inset 0px 0px 0px, 0 0 15px rgb(87, 1, 87);
}

@media screen and (min-width: 992px){
    header {
        justify-content: space-between;
    }
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: left;
    }
}

@media screen and (min-width: 768px){
    header {
        justify-content: space-between;
    }
    
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: left;
    }
}


