*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral)
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue),100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn-wrong {
    --hue: var(--hue-wrong);
}

.start, next {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.scores {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}


.header {
    margin: 20px 5%;
    font-size: 125%;
    padding: 10px;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

#timer {
    color: black;
}

#container {
    margin: 50px 10% 20px;
    display: flex;
    flex-direction: column;
}

#container > * {
    margin: 20px 5%;
    align-self: center;
}

#title {
    font-size: 175%;
}

#content {
    font-size: 110%;
    text-align: justify;
}

button {
    background-color: purple;
    color: white;
    border: solid black 3px;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 125%;
    font-weight: bolder;
}

#button1, #button2, #button3, #button4, #restart, #clearScores {
    align-self: start;

}

#form {
    font-size: 150%;
}

#submit {
    font-size: 100%;
    margin: 20px;
}

footer {
    text-align: center;
    font-size: 150%;
}

button:hover {
    box-shadow: inset 0px 0px 0px, 0 0 15px rgb(87, 1, 87);
}

@media screen and (min-width: 992px){
    header {
        justify-content: space-between;
    }
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: left;
    }
}

@media screen and (min-width: 768px){
    header {
        justify-content: space-between;
    }
    
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: left;
    }
}


